version: "3.8"

networks:
  bw-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16

services:

  bunkerweb:
    image: bunkerity/bunkerweb:1.6.7
    container_name: bunkerweb
    restart: unless-stopped
    labels:
      - "bunkerweb.INSTANCE=yes"
    ports:
      - "80:8080"
      - "443:8443"
    environment:
      SERVER_NAME: "83.228.234.47"
      USE_UI: "yes"
      DEFAULT_APP: "no"
      API_WHITELIST_IP: "127.0.0.0/8 172.18.0.0/16"
      LOG_LEVEL: "debug"
      TZ: "Europe/Zurich"
    networks:
      - bw-net

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.7
    container_name: bw-scheduler
    restart: unless-stopped
    depends_on:
      - bunkerweb
    environment:
      DOCKER_HOST: "unix:///var/run/docker.sock"
      USE_DOCKER_SOCKET: "yes"
      BUNKERWEB_API_HOST: "bunkerweb"
      BUNKERWEB_INSTANCES: "bunkerweb"
      TZ: "Europe/Zurich"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - bw-net

  bw-ui:
    image: bunkerity/bunkerweb-ui:1.6.7
    container_name: bw-ui
    restart: unless-stopped
    depends_on:
      - bunkerweb
      - bw-scheduler
    environment:
      ADMIN_USERNAME: "admin"
      ADMIN_PASSWORD: "SuperSecurise123!"
      ABSOLUTE_URI: "http://83.228.234.47:7000/"
      BUNKERWEB_API_HOST: "bunkerweb"
      TZ: "Europe/Zurich"
    ports:
      - "7000:7000"
    networks:
      - bw-net

  test-backend:
    image: hashicorp/http-echo
    command: ["-text=Hello depuis BunkerWeb !"]
    networks:
      - bw-net
    labels:
      - "bunkerweb.INSTANCE=yes"
      - "bunkerweb.SERVER_NAME=83.228.234.47"
``
