networks:
  bw-net:
    driver: bridge

services:

  bunkerweb:
    image: bunkerity/bunkerweb:1.6.8
    container_name: bunkerweb
    restart: unless-stopped
    labels:
      - "bunkerweb.INSTANCE=yes"
    ports:
      - "80:8080"
      - "443:8443"
    environment:
      SERVER_NAME: "83.228.234.47"
      DEFAULT_APP: "yes"
      USE_UI: "yes"

      API_WHITELIST_IP: "127.0.0.1/8 172.18.0.0/16 46.140.15.106/32"

      # BACKEND
      UPSTREAM_HOST: "test-backend"
      UPSTREAM_PORT: "5678"

      LOG_LEVEL: "info"
      TZ: "Europe/Zurich"

    networks:
      - bw-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  bw-ui:
    image: bunkerity/bunkerweb-ui:1.6.8
    container_name: bw-ui
    restart: unless-stopped
    depends_on:
      - bunkerweb
    environment:
      BUNKERWEB_API_HOST: "bunkerweb"
      ADMIN_USERNAME: "admin"
      ADMIN_PASSWORD: "SuperSecurise123!"
      ABSOLUTE_URI: "http://83.228.234.47:7001/"
    ports:
      - "7001:7000"
    networks:
      - bw-net

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.8
    container_name: bw-scheduler
    restart: unless-stopped
    depends_on:
      - bunkerweb
    environment:
      DOCKER_HOST: "unix:///var/run/docker.sock"
      USE_DOCKER_SOCKET: "yes"
      BUNKERWEB_API_HOST: "bunkerweb"
      BUNKERWEB_API_WHITELIST_IP: "127.0.0.1/8 172.18.0.0/16"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - bw-net

  test-backend:
    image: hashicorp/http-echo
    container_name: test-backend
    command: ["-text=Hello from test backend"]
    networks:
      - bw-net
