version: "3.8"

services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.8
    container_name: bunkerweb
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "5000:5000"
    environment:
      SERVER_NAME: "localhost"
      USE_UI: "yes"
      USE_SCHEDULER: "yes"
    volumes:
      - /data/bw-data:/var/lib/bunkerweb
    networks:
      - bw-net

  bw-ui:
    image: bunkerity/bunkerweb-ui:1.6.8
    container_name: bw-ui
    restart: unless-stopped
    depends_on:
      - bunkerweb
    environment:
      BUNKERWEB_URL: "http://bunkerweb:5000"
      ADMIN_USERNAME: "admin"
      ADMIN_PASSWORD: "SuperSecurise123!"
      ABSOLUTE_URI: "http://83.228.234.47:7001"
    ports:
      - "7001:7000"
    volumes:
      - /data/bw-ui:/var/lib/bunkerweb
    networks:
      - bw-net

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.8
    container_name: bw-scheduler
    restart: unless-stopped
    depends_on:
      - bunkerweb
    environment:
      BUNKERWEB_URL: "http://bunkerweb:5000"
      DOCKER_HOST: "unix:///var/run/docker.sock"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /data/bw-scheduler:/var/lib/bunkerweb
    networks:
      - bw-net

networks:
  bw-net:
    driver: bridge
