services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.8
    container_name: bunkerweb
    restart: unless-stopped
    ports:
      - "80:8080"
      - "443:8443"
      - "443:8443/udp"
    environment:
      SERVER_NAME: "83.228.234.47"
      USE_UI: "yes"
      USE_SCHEDULER: "yes"
      DISABLE_BUNKERNET: "yes"
    volumes:
      - /data/bunkerweb:/data
      - /data/bw-cache:/var/cache/nginx
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - bw-net

  bw-ui:
    image: bunkerity/bunkerweb-ui:1.6.8
    container_name: bw-ui
    restart: unless-stopped
    depends_on:
      - bunkerweb
    ports:
      - "7001:7000"
    environment:
      BUNKERWEB_URL: "http://bunkerweb:5000"
    volumes:
      - /data/bw-ui:/data
      - /data/bw-ui-run:/var/run/bunkerweb
      - /data/bw-ui-tmp:/var/tmp/bunkerweb
    healthcheck:
      test: ["CMD-SHELL", "test -f /var/run/bunkerweb/tmp-ui.pid -a -f /var/tmp/bunkerweb/tmp-ui.healthy"]
      interval: 10s
      timeout: 3s
      retries: 6
      start_period: 30s
    networks:
      - bw-net

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.8
    container_name: bw-scheduler
    restart: unless-stopped
    depends_on:
      - bunkerweb
    environment:
      BUNKERWEB_URL: "http://bunkerweb:5000"
      DOCKER_HOST: "unix:///var/run/docker.sock"
      DISABLE_BUNKERNET: "yes"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /data/bw-scheduler:/data
    networks:
      - bw-net

networks:
  bw-net:
    name: bw-net
